<% form_tag listings_path, :method => 'get' do%>
	<% @categories.each do |category| %>
		<%= category_list_item(category, @selected_categories)%>
	<% end %>
	<%= submit_tag 'Filter'%>
	<%= link_to 'Refresh Filter', listings_path%>
<% end %>

<!DOCTYPE html>

<html class="no-js">
  <head>
	<title>Authentic Jobs ~ Full-time and freelance job opportunities for web, design, and creative professionals</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link href="apple-touch-icon.png" rel="apple-touch-icon" />

	<link rel="stylesheet" type="text/css" href="http://authenticjobs.com/css/reset.v1257116562.css" />
	<link rel="stylesheet" type="text/css" href="http://authenticjobs.com/css/screen.v1267556917.css" />

	
	<script type="text/javascript" src="/js/jquery.full.v1264737244.js"></script>
	<script type="text/javascript" src="/js/authenticjobs.v1274328126.js"></script>
	<script type="text/javascript" src="/js/modernizr-1.1.min.v1264522301.js"></script>
	<script type="text/javascript" src="/js/jquery.keynav.1.1.v1265305082.js"></script>

		<link rel="stylesheet" type="text/css" href="http://authenticjobs.com/css/home.v1270000889.css" />	
	<script type="text/javascript" src="/js/filter.v1271797035.js"></script>

	<script type="text/javascript" src="/listTypes.php"></script>
	
	<script type="text/javascript">
	$(document).ready(function() {
		filterResults.setup();
		$("#search").focus();
	});
	</script>
	
		
		<script type="text/javascript" src="https://use.typekit.com/lku5zjs.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	
	<!--[if IE 7]>
	<link rel="stylesheet" href="/css/ie7.v1270001055.css" type="text/css" media="screen" />
	<![endif]-->
	
	<!--[if IE 8]>
	<link rel="stylesheet" href="/css/ie8.v1270001242.css" type="text/css" media="screen" />
	<![endif]-->
	
	<!--[if (gte IE 5.5)&(lte IE 8)]>
	<script src="/js/nwmatcher-1.2.2.v1271787091.js" type="text/javascript"></script>
	<script src="/js/ie-css3.v1279049162.js" type="text/javascript"></script>
	<![endif]-->

	
	<link rel="stylesheet" type="text/css" href="/css/print.v1257571180.css" media="print" />
	
  </head>


  <body id="home">
    
    <p id="skip"><a href="#main">Skip to content</a></p>
    
    <div id="header-wrapper">
      <div id="header">
    
        <div id="logo">
			<a href="http://www.authenticjobs.com/"><img src="/img/logo-bw.v1257121111.png" alt="Authentic Jobs" /></a>

        </div>
    
        <div id="sitenav">
          <ul>
            <li id="nav-all"><a href="http://www.authenticjobs.com/">All jobs</a></li>
            <li id="nav-post"><a href="http://www.authenticjobs.com/post/">Post a job</a></li>
            <li id="nav-testimonials"><a href="http://www.authenticjobs.com/testimonials/">Testimonials</a></li>
            <li id="nav-blog"><a href="http://www.authenticjobs.com/blog/">Blog</a></li>

            <li id="nav-api"><a href="http://www.authenticjobs.com/api/">API</a></li>
            <li id="nav-contact"><a href="http://www.authenticjobs.com/contact/">Contact</a></li>
          </ul>
        </div>
        
        <ul id="supernav">
        	<li id="nav-feedback"><a href="http://getsatisfaction.com/authenticjobs/">Feedback</a></li>
        	<li id="nav-rss"><a href="http://www.authenticjobs.com/feeds/">RSS Feeds</a></li>

        	<li id="nav-twitter"><a href="http://twitter.com/authenticjobs">@authenticjobs</a></li>
        </ul>
    
      </div>
    </div>

    <div id="container">

      <div id="wrapper">
					        
	<div id="main">		
		<div class="overlay" id="subscribe">

			
			<div class="modalheader">
				<h2>Subscribe to Personalized Notifications</h2>
				<p>Your criteria: <strong><span id="jobtype-modal"></span> jobs <span id="exceptions-modal"></span></strong></p>
			</div>			
			
			<div class="modalbody">
				
				<span id="notch"></span>
				
				<ul id="methods">

					<li class="email active"><a href="#">Email</a></li>
					<li class="twitter"><a href="#">Twitter</a></li>
					<li class="rss last"><a href="#">RSS</a></li>
				</ul>			
				
				<div id="process">
					
					<div id="notifyemail">
						<form method="post" action="#" id="subscribe-email">
							<p>We&#146;ll send you jobs that match your criteria</p>

							<input type="radio" id="daily" value="daily" name="mailfrequency"/>
							<label for="daily" class="option" checked="checked">Daily</label>
							<input type="radio" id="weekly" value="weekly" name="mailfrequency"/>
							<label for="weekly" class="option">Weekly</label>
							<div class="wrap">
								<label for="subscribeemail">&hellip; to your email address:</label>
								<input type="text" id="subscribeemail" name="subscribeemail" class="email"/>

								<p class="info">Your email will not be used for any other purposes. Instructions for unsubscribing will be included in each email.</p>
							</div>
							<button type="submit" id="subscribe-btn" class="button">Subscribe</button>
						</form>
					</div>
					
					<div id="notifytwitter">
						<ol class="instructions">
							<li>Sign up for a <a href="http://twitter.com/" target="_blank">Twitter account</a> if you don&#146;t already have one.</li>

							<li>Follow <a href="http://twitter.com/authjobsbot" target="_blank">@authjobsbot</a> by clicking the &ldquo;Follow&rdquo; button.</li>
							<li>Send us a <strong>direct message</strong> with this text: <strong id="tweetcode">sub ||</strong></li>					
						</ol>

						<p class="info">A direct message is sent either by clicking &ldquo;Direct Messages&rdquo; in your Twitter.com account or by using the direct message feature in your preferred Twitter client.</p>
					</div>
					
					<div id="notifyrss">
						<p>Drag this link to your RSS reader:</p>
						<a id="customrss" href="http://www.authenticjobs.com/rss/custom.php?terms=&type=&cats=">Your personalized RSS feed</a>
						<label for="rssurl">&hellip; or copy &amp; paste this URL to your RSS reader:</label>

						<input type="text" id="rssurl" name="rssurl" value="http://www.authenticjobs.com/rss/custom.php?terms=&type=&cats="/>
						<p class="info">To change your personalized RSS feed later, simply delete the old one and come back to this page to create a new one.</p>
					</div>
					
				</div>
				
			</div>		
				
			<div class="modalfooter">
				<button class="close-btn button">Close</button>
			</div>	
								
		</div>		
          
          <div id="listings">

            
            <table cellspacing="0" summary="The list of job postings, newest postings first">
              <thead>
                <tr>
                  <th scope="col" abbr="Opening">Open Position &amp; Company Name</th>
                  <th scope="col" abbr="Location">Location &amp; Job Type</th>
                  <th scope="col">Posted</th>

                </tr>
              </thead>
              <tbody>
					<% @listings.each do |listing| %>
	                <tr>
                  <td class="opening"><%if listing.recent_new%><span class="new">New!</span><% end %><%= link_to "#{listing.job.position}", listing_path(listing) %><span class="at">at</span> <span class="company"><%= listing.company.name%></span></td>

                  <td class="locale"><span class="location"><%= listing.job.location%></span> <span class="type freelance">Freelance</span></td>
                  <td class="posted"><%=listing.listing_date%></td>
                </tr>
	                <tr class="even">
                  <td class="opening"><a href="/jobs/5915"><span class="new">New!</span> Rockstar WordPress Developer (Unique Opportunity)</a> <span class="at">at</span> <span class="company">EngageSciences</span></td>

                  <td class="locale"><span class="location">Anywhere</span> <span class="type freelance">Freelance</span></td>
                  <td class="posted"></td>
                </tr>
					  </tbody>
					<% end %>
            </table>

			<div id="noresults">
				<p><strong>No listings match your search criteria, but there may be future listings that do.</strong> Subscribe to receive future listings that match your criteria, or <a href="#" id="searchreset">reset the criteria</a> and try something broader.</p>

			</div>
            
          </div>				
        
        </div>
      
        <hr />
      
        <div id="aside">
			<div id="post">
	<div id="post-wrapper">
		<h2><%=link_to "Post", new_listing_path%>Post a Job</a></h2>
		<p>

			<em><sup>$</sup>75&ndash;<sup>$</sup>250</em>
			<span>depending on job type</span>
		</p>
	</div>
	<a href="/guarantee/">100% money-back guarantee</a>
</div>        
          <hr />

        
		<div id="pitch">
			<img src="http://authenticjobs.com/img/hiring.v1257119638.png" alt="Come in, We're Hiring" width="104" height="80" />
			<h3>Authentic Jobs is a targeted destination for web &amp; creative professionals, and the companies seeking to hire them.</h3>
			<p>Since 2005, qualified candidates have been applying for great opportunities at Apple, Backcountry.com, Comcast, Electronic Arts, ESPN, Estee Lauder, Facebook, Fluidesign, frog design, Garmin, HBO, HP, HUGE, Magnani Caruso Dutton, Meetup.com, The Motley Fool, MSNBC.com, Phinney Bischoff, Skype, Sony BMG, Turner Sports Interactive, and many other companies large and small.</p>
			<img src="http://authenticjobs.com/img/company-logos.v1269962993.gif" alt="Apple, Comcast, Facebook, frog design, Meetup.com, HBO, HUGE, MSNBC.com, Backcountry.com, Fluidesign, Magnani Caruso Dutton, ESPN" width="240" height="169" />
		</div>
        
          <hr />

        
          <div id="testimonials">
            <div class="quote">
              <blockquote>
                <p>I posted a job ad yesterday for a PHP Programmer and have gotten an overwhelming reply. Thanks to your website <strong>we found someone for the position.</strong></p>
              </blockquote>
              <p><cite><span class="author">Jon Millikin</span>, SMARTrealestate.com</cite></p>
            </div>

            <p id="all-testimonials"><a href="/testimonials/">View all testimonials</a></p>
          </div>
        
          <hr />

			<div id="blog">
			<h4>From the blog...</h4>
			<h3><a href="/blog/2010/07/5-by-5-endor-se-now-displaying-authentic-jobs-listings/">5 by 5, Endor.se now displaying Authentic Jobs listings</a></h3>
			<p>We've added two new sites to our network of partners who feature, advertise, or aggregate Authentic Jobs listings.<br />

<br />
Dan Benjamin's 5 by 5, a collection of informative and entertaining podcasts, includes guests such as Clayton Morris, Jared Spool, Gary Vaynerchuk, Eric Meyer, and others.<br />
<br />
<br />
<br />
With each page load, one Authentic Jobs listing ...</p>
			<!-- <p id="blog-more"><a href="asdf">Keep reading</a></p> -->
		</div>
			
		<div id="donate">
			
			<h4>Entrepreneur Lending</h4>

			<h3><a href="http://kiva.org/lender/authenticjobs/">Kiva - 1% Donor</a></h3>
			<p>Authentic Jobs donates 1% of its total monthly revenue to entrepreneurs in developing countries through Kiva. To date, we've contributed to <a href="http://kiva.org/lender/authenticjobs/">176 loans</a> around the world.</p>
		</div>
        
        
        </div>
		</div> <!-- end #wrapper -->    
	
	</div> <!-- end #container -->

 	<hr />

	<div id="footer">      
		<div id="footer-wrapper">
			<h4><a href="http://cameronmoll.com/">A Cameron Moll production</a></h4>
			<ul>
				<li><a href="http://www.authenticjobs.com/guarantee/">100% Money-back Guarantee</a></li>
				<li><a href="http://www.authenticjobs.com/partners/">Listing Partners</a></li>

				<li><a href="http://www.authenticjobs.com/faq/">FAQs</a></li>
				<li><a href="http://www.authenticjobs.com/affiliates/">Affiliate Program</a></li>
				<li><a href="http://kiva.org/lender/authenticjobs/">Kiva Lending</a></li>
				<li><a href="http://www.authenticjobs.com/testimonials/">Testimonials</a></li>
				<li><a href="http://www.authenticjobs.com/blog/">Blog</a></li>
				<li><a href="http://www.authenticjobs.com/api/">API</a></li>

			</ul>
			<p>&copy; 2010 Authentic Jobs, Inc. A subsidiary of Cameron Moll LLC.</p>
			<!-- 
			<ul>
			  <li><a href="/privacy/">Privacy</a></li>
			  <li><a href="/terms/">Terms of Use</a></li>
			</ul>
 			-->
		</div>
	</div> <!-- end #footer -->	
  </body>
</html>


<% @listings.each do |listing| %>
	<%= listing.job.position %>
	<%= listing.company.name %>
	<%= listing.job.location %>
	<%= listing.kind %>
<% end %>