!!!
%html
	%head
		= stylesheet_link_tag 'screen'
		= stylesheet_link_tag 'print'
		= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'
		= javascript_include_tag 'jquery.rails'
		= javascript_include_tag 'application'

	%title JobForrest | Find jobs for Virginia Grads
	%body
		#header
			#page-title
				%a{:href => '/'}
					= image_tag 'jobforrest_white.png',:width=>"300px"
				%h2 Find jobs for Virginia grads
				#clear
		#body-top
		#content-border
			#content-window
				= yield
		#footer			
			%h6 Copyright JobForrest 2010
			#clear		
